// $primary-color: ;
// $secondary-color: ;
$font-color: #251B37;
$number-color: #61764B;
$background-card: #EDE4E0;
$active-player: #FF6D28;
$button-background: #749F82;
$hover-btn-color: #372948;
$main-background-color: #372948;
$border-radius: 10px;
$white: #fff;
$black: #000;